body { font-family: Arial, Helvetica, sans-serif; }
#myform { border: 1px solid #000; border-radius: 6px; width: 520px; padding: 10px; }
#results { background-color: #D0D0D0; color: #000; width: 97%; padding: 10px; }

.button { display: inline-block; zoom: 1; *display: inline; vertical-align: baseline; margin: 0 2px; outline: none; cursor: pointer; 
    text-align: center; text-decoration: none; font-size: 14px/100%; padding: .5em 2em .55em; text-shadow: 0 1px 1px rgba(0,0,0,.3); 
    border-radius: .5em; box-shadow: 0 1px 2px rgba(0,0,0,.2); }
.button:hover { text-decoration: none; }
.button:active { position: relative; top: 1px; }
        
.gray { color: #e9e9e9; border: solid 1px #555; background: -moz-linear-gradient(top,  #888,  #575757); background: #6e6e6e; 
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757)); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757'); }
.gray:hover { background: #616161; background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top,  #757575,  #4b4b4b); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b'); }
.gray:active { color: #afafaf; background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top,  #575757,  #888); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888'); }
.medium { font-size: 12px; padding: .4em 1.5em .42em; width: 155px; }