html,body,div {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

html, body {height: 100%;}

#wrap {min-height: 100%;}

body {
	background: url(images/noise.png) #FFE2AA;
	color: #40382B;
	font-family: 'Asap', sans-serif;
	font-size: 100%;
}

h1 {font-size: 1.5em;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.3em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1.1em;}
p {font-size: 1em; margin-bottom: 1.25em; line-height: 1.4em; text-align: left;}
.clear {clear: both;}

#demo {
	padding: 10px 4% 44px;
	margin: 0 auto;
}

#localStorageTest label {
	display: block;
}

#localStorageTest input[type=text], #localStorageTest input[type=email] {
	display: block;
	margin-bottom: 10px;
	width: 97%;
	border: 1px solid #D8BF91;
    margin-bottom: 6px;
    padding: 5px !important;
	font-family: 'Asap', sans-serif;
	font-size: 0.9em;
}

#localStorageTest textarea {
	display: block;
	margin-bottom: 10px;
	width: 80%;
	max-width: 500px;
	border: 1px solid #D8BF91;
    margin-bottom: 6px;
    padding: 5px !important;
	font-family: 'Asap', sans-serif;
	font-size: 0.9em;
}

.demo-button {
    padding: 5px 12px;
    background: #4e1216;
    color: #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #4B1115;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	text-decoration: none;
	cursor: pointer;
}

.demo-button:hover {
	color: #fff;
    background: #7F5949;
    border: 1px solid #4B1115;
    text-decoration: none;
}

.demo-button:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #4e1216;
    border: 1px solid #4B1115;
}

body {
	margin-left: 20px;
	margin-top: 10px;
}

form {
	padding: 10px;
	width: 500px;
	border: 1px solid black;
}

#localStorageTest textarea {
    border: 1px solid #D8BF91;
    display: block;
    font-family: 'Asap',sans-serif;
    font-size: 0.9em;
    margin-bottom: 6px;
    padding: 5px !important;
    width: 97%;
}