body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; font-size: 12px; }

a, a:link { outline: none; }

h1 { font-weight: 100; font-size: 36px; margin: 20px 0; }

#container { width: 800px; text-align: center; margin: 20px auto; border: 1px solid #000; width: 600px; height: auto; padding: 15px; border-radius: 6px; }

input[type="text"] { height: 17px; width: 350px; padding: 10px; margin-right: 10px; font-size: 24px; }

ul { margin: 15px auto 0; padding: 0; width: 545px; }
ul li { list-style-type: none; font-size: 16px; cursor: move; background-color: #efefef; margin-bottom: 5px; padding: 10px; text-align: left;
    background: url("../img/ui-bg_glass_75_dadada_1x400.png") repeat-x scroll 50% 50% #E6E6E6; border: 1px solid #D3D3D3; color: #555555; 
    border-radius: 6px; }
ul li span { cursor: text; }
ul li a, ul li a:link { float: right; display: none; text-decoration: none; color: #f03; }
ul li a:hover { text-decoration: underline; }

.button { display: inline-block; zoom: 1; *display: inline; vertical-align: baseline; margin: 0 2px; outline: none; cursor: pointer;
    text-align: center; text-decoration: none; font: 14px/100% Arial, Helvetica, sans-serif; padding: .5em 2em .55em; border-radius: .5em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3); box-shadow: 0 1px 2px rgba(0,0,0,.2); }
.button:hover { text-decoration: none; }
.button:active { position: relative; top: 1px; }

.medium { font-size: 12px; padding: .4em 1.5em .42em; }

.red { color: #faddde; border: solid 1px #980c10; background: #d81b21; background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317)); 
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317'); }
.red:hover { background: #b61318; background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
    background: -moz-linear-gradient(top,  #c9151b,  #a11115);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115'); }
.red:active { color: #de898c; background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
    background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24'); }