body { font-size: 13px; line-height: 18px; font-weight: normal; }
section { display:block; }
form { margin:0 0 18px; }
h3 { text-rendering: optimizelegibility; margin-bottom: 7px; margin-top: 0px; font-size: 18px; font-family: 'Shadows Into Light', cursive;}

input, button { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; margin-left:0; }

input[type=submit] { width:auto; }
input[type=email] { background-color: #FFFFFF; border: 1px solid #CCCCCC; box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset; 
	color: #555555; display: inline-block; padding: 5px; width: 89.5%; }

#container { width:400px; margin: 100px auto 0; }
#sign-up-form { background-color: #F5F5F5; border: 1px solid rgba(0, 0, 0, 0.05); border-radius: 4px 4px 4px 4px; 
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset; margin-bottom: 20px; min-height: 20px; padding: 19px; width: 375px;}

.btn { background: #F5F5F5 url(none) repeat-x; border-radius: 4px 4px 4px 4px; color: #333333; cursor: pointer; display: inline-block;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset, 0 1px 2px rgba(0,0,0,0.05); margin-bottom: 0; text-align:center; padding: 4px 10px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75); vertical-align: middle; border: 1px solid #B3B3B3 #E6E6E6 #E6E6E6; }
.input-prepend { margin-bottom:5px; }
.input-prepend .add-on { margin-right: -1px; border-radius: 0 0 0 0; margin-left: -1px; background-color: #EEEEEE; border: 1px solid #CCCCCC;
	display:inline-block; height: 18px; min-width: 16px; text-align: center; text-shadow: 0 1px 0 #FFFFFF;
	vertical-align: middle; width: auto; padding: 4px 5px; border-radius: 3px 0 0 3px; }
.input-prepend input { border-radius: 0 3px 3px 0; margin-bottom: 0; position: relative; vertical-align: middle; }