#postit-pad { margin-left:auto; margin-right:auto; height: 356px; width: 356px; background-image:url(../img/postit.jpg); background-repeat: no-repeat; }
#postit { white-space: pre-wrap; max-width: 300px; padding: 90px 50px 75px; color: #486891; font-family:"Reenie Beanie",arial,sans-serif; 
font-size: 140%; font-style: italic; font-weight:bold; line-height: 1.5em;  }
.clearStorage { clear: both; color: #486891; float: left; font-family: "Reenie Beanie",arial,sans-serif; font-size: 95%; font-weight: bold; margin-left: 120px;
    margin-top: 150px; position: absolute; text-decoration: none; }