<head>
    <meta charset="utf-8">
    <title>Fabric group and animation</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.1.0/fabric.all.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>
        $(function() {

            var canvas = new fabric.Canvas('c');

            var circle = new fabric.Circle({
                radius: 50,
                fill: 'green',
                scaleY: 0.5,
                originX: 'center',
                originY: 'center'
            });

            var rect = new fabric.Rect({
                originX: 'center',
                originY: 'center',
                fill: 'white',
                width: 30,
                height: 30

            });

            var group = new fabric.Group([rect, circle], {
                left: 50,
                top: 25,
                angle: 0
            });

            canvas.add(group);
            group.animate('left', 550, {
                onChange: canvas.renderAll.bind(canvas),
                duration: 6000,
                easing: fabric.util.ease.easeInBounce
            });

        });
    </script>
</head>

<body>
    <canvas id="c" style="border:1px solid green;" width='600' height='300'></canvas>
</body>

</html>