<head>
    <meta charset="utf-8">
    <title>Grøn bil</title>
    <style>
        #carImage {
            visibility: hidden;
        }
    </style>
</head>

<body>
    <canvas id="c" style="border:1px solid black;" width='500px' height='300px'></canvas>
    <img src="img/car.jpg" id="carImage">
</body>

</html>